:root{
    --cell-size: 100px;
    --XO-size: calc(var(--cell-size)*0.85) 
}

body{
    margin: 0;
}

.title{
    position: relative;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 3rem;
    display: flex
}

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/*.cell.O::after,*/
.cell.O::before{
    background-color: blue;
}

.cell.X::before, .cell.X::after{
    background-color: red;
}
/*, .board.O .cell:not(.X):not(.O):hover::after*/
.board.X .cell:not(.X):not(.O):hover::before, .board.X .cell:not(.X):not(.O):hover::after, 
.board.O .cell:not(.X):not(.O):hover::before{
    background-color: gray;
}


.cell.X::before, .cell.X::after, .board.X .cell:not(.X):not(.O):hover::before, .board.X .cell:not(.X):not(.O):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--XO-size)* .15);
    height: var(--XO-size);
}

.cell.X::before, .board.X .cell:not(.X):not(.O):hover::before{
    transform: rotate(45deg);
}

.cell.X::after, .board.X .cell:not(.X):not(.O):hover::after{
    transform: rotate(-45deg);
}
/*
.board.O .cell:not(.X):not(.O):hover::before, .board.X .cell:not(.X):not(.O):hover::after{
    background-color: gray;
}
*/

.cell.O::before, .cell.O::after, .board.O .cell:not(.X):not(.O):hover::before, .board.O .cell:not(.X):not(.O):hover::after{
    content: '';
    position: absolute;
    border-radius: 60%;
}

/*
making an 'O' with CSS. making the outside circle
*/
.cell.O::before, .board.O .cell:not(.X):not(.O):hover::before{
    width: calc(var(--XO-size)*0.9);
    height: calc(var(--XO-size)*0.9);
}

/*
making an 'O' with CSS. making the inner circle
*/
.cell.O::after, .board.O .cell:not(.X):not(.O):hover::after{
    width: calc(var(--XO-size)*0.65);
    height: calc(var(--XO-size)*0.65);
    background-color: white;
}

/*
making sure you can't hover over cells that are already occupied
*/
.cell.X, .cell.O{
    cursor: no-drop; 
}

.winning-message{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 3rem;
    flex-direction: column;
}

.winning-message button{
    background-color: white;
    border: 1px solid black;
    padding: 0.2em 0.5
    em;
    font-size: 3rem;
    cursor: pointer;
}

.winning-message button:hover{
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show{
    display: flex;
}